* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

body {
  width: clamp(60rem, 50vw, 85rem);
  height: 100vh;
  margin: 0 auto;
  background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  color: #e8e8ec;
  -webkit-font-smoothing: antialiased;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.forms {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.sectionInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;

  margin-bottom: 1rem;
}

.label {
  margin-right: 1rem;
  padding: 0.8rem;
}

.formInput {
  padding: 0;
  border-radius: 4px;
  font-family: "Ubuntu";
}

button {
  width: 7rem;

  border: none;
  padding: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: #50919e;
}

button:hover {
  background-color: #609559;
}
